manifest {
  author      = 'Sydney Informatics Hub'
  name        = 'IGVreport-nf'
  description = 'Generate an IGV report for variants of interest'
  homePage    = 'https://github.com/Sydney-Informatics-Hub/IGVreport-nf'

// Mandate a minimum version of nextflow required to run the pipeline
  nextflowVersion = '!>=20.07.1'
}

// Resume pipeline from last successful process
resume = true 

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram  
dag {
  enabled = true
  file = 'runInfo/dag.svg'
}

report {
  enabled = true
  file = 'runInfo/report.html'
}

timeline {
  enabled = true
  file = 'runInfo/timeline.html'
}

trace {
  enabled = true
  file = 'runInfo/trace.txt'
}

// Enable various profiles depending on compute infrastructure to be run on
profiles {
  standard    { includeConfig "config/standard.config" }
  setonix     { includeConfig "config/setonix.config" }
  nimbus      { includeConfig "config/nimbus.config" }
}
